.board{
    display: flex;
    flex-direction: column;
   border: solid 1px black;
}

.board-row{
    display: flex;
    flex-direction: row;
}
.cell-white{
    width: 5vw;
    height: 5vw;
    
}
.cell-black{
    width: 5vw;
    height: 5vw;
    background-color: black;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
html{
    height: 100%;
}
