.guess-letters {
    margin-top: 3vh;
    display:flex;
    flex-direction: row;
}
.game-status {
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
}
.play-again {
    display: none;
    height: 4vw;
    width: 10vw;
    align-items: center;
    justify-content: center;
}
.letter {
    width: 5vw;
    height: 5vw;
    background-color: ghostwhite;
    border: 1px solid black;
    text-align: center;
    font-size: 2em;
}
.guess-input{
    display: flex;
    
}
